html {
  margin: 0px;
  background-color: lightblue;
  min-width: 1000px;
  min-height: 100px; }

body {
  border: 10px lightblue solid;
  border-top-width: 100%;
  border-bottom-width: 100%;
  border-left-width: 500px;
  border-right-width: 500px;
  color: black;
  margin: 0px;
  min-height: 100%;
  min-width: 100%; }

.container {
  height: 400px;
  width: 200px;
  background-color: #E6E6FA;
  border: solid black; }

.col {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: pink;
  border: solid black;
  text-align: center;
  overflow: auto; }
