@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
html {
  margin: 0px;
  background-color: lightblue;
  min-width: 1000px;
  min-height: 100px; }

body {
  border: 10px lightblue solid;
  border-top-width: 100%;
  border-bottom-width: 100%;
  border-left-width: 500px;
  border-right-width: 500px;
  color: black;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Bangers', cursive; }

.container {
  height: 400px;
  background-color: #E6E6FA;
  position: relative;
  overflow: auto;
  border: black solid;
  min-height: 400px; }

.col {
  margin-top: 20px;
  margin-bottom: 30px;
  border: solid thin black;
  text-align: center;
  background-color: pink; }

#add {
  float: right;
  font-size: 20px; }

.nav {
  bottom: 0;
  font-size: small;
  border-top: solid thin;
  border-top-color: orange; }

.heading-title {
  text-decoration: underline;
  margin-top: 5px;
  text-align: center; }

.list-off {
  border-bottom: solid thin orange;
  text-align: left;
  margin-left: -20%;
  text-decoration: none; }

.showAddress {
  font-size: small;
  border-color: none; }
