.Inner-Screen{
    margin-top: 5%;
    background-color: pink;
    border: solid thin black;
    height: 400px;
}

.Main-Screen-Col{
    margin-top: 5%;
    margin-bottom: 2%;
    border-bottom: solid thin black;
    text-align:center;
    background-color: #F8DED7;
}