@import './MainScreen.scss';
@import './Footer.scss';
@import './Error.scss';
@import './About.scss';

html, body{
    background-color: lightblue;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Outer-Screen{
        margin-left: 35%;
        width: 30%;
    }
} 